/* 페이지네이션 스타일 */
.swiperPagination {
  --swiper-pagination-color: #ffffff; /* 페이지네이션 불릿 기본 색상 */
  --swiper-pagination-bullet-opacity: 1; /* 페이지네이션 불릿 opacity */
  --swiper-pagination-bullet-inactive-color: #ffffff; /* 불릿 비활성화 색상 */
  --swiper-pagination-bullet-inactive-opacity: 0.5; /* 불릿 비활성화 opacity */
}
